/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SECTION */

.header {
  display: flex;
  width: 100%;
  background-color: #379683;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
}

#motto {
  color: #3B4650;
}

/* MAIN SECTION CONTAINER*/

.row {
  display: flex;
  background-color: #EDF5E1;
}


/* MAIN SECTION SIDE COLUMNS */

.column.side {
  margin: 5px;
  border-radius: 10px;
  background-color: #5CDB95;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

/* MAIN SECTION LEFT SIDE COLUMN */

.currency {
  display: flex;
  margin: 5px;
  padding: 0px 20px;
  border-radius: 10%;
  background-color: #EDF5E1;
  color: #3B4650;
}

.sign {
  padding: 10px;
}

/* MAIN SECTION MIDDLE COLUMN */

.column.middle {
  flex: 2;
  background-color: #EDF5E1;
  text-align: center;
  color: #3B4650;
}

/* MAIN SECTION RIGHT SIDE COLUMN */

.info {
  background-color: #EDF5E1;
  border-radius: 10%;
  margin: 30px 10px;
  padding: 10px 50px;
}

.wallet {
  background: #EDF5E1;
  border-radius: 10%;
  margin: 30px 10px;
  padding: 10px 50px;
}

.transactions {
  background: #EDF5E1;
  border-radius: 10%;
  margin: 30px 10px;
}

#history-icon {
  width: 40px;
  margin: 10px;
}

.transaction-red {
  color: red;
  padding: 15px 25px;
}

.transaction-green {
  color: green;
  padding: 15px 25px;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #3B4650;
  padding: 20px 100px;
}

.footer-element {
    background-color: #5CDB95;
    padding: 40px;
    border-radius: 100%;
    text-align: center;
}

.footer-icon {
  width: 30px;
}

#copyright{
  text-align: center;
}

@media screen and (max-width: 410px) {
  .header {
  min-width: 450px;
  }

  .footer {
  min-width: 450px;
  }
}